/* CSS RESET */
*{
    margin: 0;
    padding: 0;
}
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    overflow-x: hidden;
}
img {
    max-width: 100%;
    display: block;
}
input,
button,
textarea,
select {
  font: inherit;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
    cursor: pointer;
}



/* FONTS */
@font-face {
    font-family: 'header';
    src: url(fonts/BenguiatGothicC_Bold.ttf)
}/*the font for headers*/
@font-face {
    font-family: 'regular';
    src: url(fonts/BenguiatGothicC.ttf);
}/*the font for other components*/



/* MENU */
.menu{
    width: 100%;
    height: 80px;
    background: #2a6561;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}/*main menu block*/
h1{
    color: #fff;
    font-family: 'header';
    font-size: 32px;
}/*main page title*/
.navigation{
    width: calc(100% - 30px);
    height: 35px;
    background: #204d4a;
    display: flex;
    padding-left: 30px;
    align-items: center;
    gap: 30px;
    user-select: none;
}/*container with links to all pages*/
.navigation_link{
    color: #fff;
    font-family: 'regular';
    font-weight: 600;
    letter-spacing: 1.5px;
}/*link to some page*/
.activelink{
    color: rgb(85, 151, 218);
}/*link to the page that is currently open*/
.coatofarms_school, .coatofarms_region{
    width: 70px;
    height: 70px;
    position: absolute;
}
.coatofarms_school{
    left: 20px;
    top: 5px;
}/*the picture with coat of arms of the school*/
.coatofarms_region{
    right: 20px;
    top: 5px;
}/*the picture with coat of arms of the region*/



/* THE SECTION WITH BASIC INFO ABOUT LYCEUM */
.about{
    /* height: 1300px; */
    padding: 35px;
    font-family: 'regular';
    font-weight: bold;
    letter-spacing: 1.5px;
    font-size: 20px;
}/*container*/
.about_text{
    width: 100%;
    height: 100%;
}/*paragraph with all main info*/
.text_bold{
    font-family: 'header';
    font-weight: 900;
}/*the class that makes text bold*/
.text_underlined{
    text-decoration: underline;
}/*the class that makes text underlined*/
.text_header{
    font-family: 'header';
    font-weight: 900;
    font-size: 24px;
    text-decoration: underline;
}/*the class that makes text bigger, bold and underlined*/
.about_short{
    width: 350px;
    border: 1px solid;
    padding: 5px;
    font-family: 'regular';
    font-weight: bold;
    letter-spacing: 1.5px;
    font-size: 14px;
    float: right;
    margin-left: 15px;
    user-select: none;
}/*wiki look-like table with basic info*/
.about_short thead{
    display: block;
}
.about_short tr{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about_short th{
    width: 100%;
    height: 30px;
    background: #333333;
    color: #fff;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about_short span{
    /* width: 45%; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.about_text_short_withimage img{
    position: relative;
    z-index: 0;
}
.about_text_short_withimage_description{
    width: 60%;
    font-size: 12px;
    color: #333333;
    background-color: #fff;
    opacity: 0.85;
    border-radius: 10px;
    position: relative;
    z-index: 1;
    margin: auto;
    margin-top: -20px;
}
.about_short_2obj{
    margin-top: 10px;
}/*template class of type "property-value"*/
.about_short_2obj td{
    width: 50%;
    display: flex;
    gap: 10px;
    padding-left: 5px;
}
.about_short_2obj img{
    height: 18px;
}



/* FOOTER */
.footer{
    width: 100%;
    height: 485px;
    background: #2a6561;
    display: flex;
    color: #fff;
    font-family: 'regular';
    font-weight: bold;
    letter-spacing: 1.5px;
}/*container in the bottom of the page*/
.footer_logo{
    width: 85px;
    height: 85px;
    margin-top: 125px;
    margin-left: 185px;
    user-select: none;
}/*the picture with coat of arms of the school*/
.footer_center{
    width: 310px;
    height: calc(100% -120px);
    margin-left: 70px;
    margin-top: 120px;
}
.footer_center_adress{
    width: 310px;
    font-size: 24px;
}
.footer_center_number{
    font-size: 14px;
    margin-top: 90px;
}
.footer_center_email{
    font-size: 14px;
    margin-top: 25px;
}
.footer_right{
    width: 485px;
    height: calc(100% - 200px);
    margin-top: 130px;
    margin-left: 145px;
    display: flex;
    gap: 80px;
    position: relative;
}
.footer_right_linksbox{
    list-style: none;
    font-family: 'regular';
    font-weight: bold;
    letter-spacing: 1.5px;
    font-size: 12px;
}
.footer_right_linksbox li{
    margin-bottom: 10px;
}
.footer_right_linksbox_link{
    color: #fff;
    margin-top: 10px;
}
.footer_right_rights{
    width: 120%;
    position: absolute;
    left: -10%;
    bottom: 0;
    font-size: 12px;
}
.footer_right_rights{
    font-weight: normal;
    text-align: center;
}