/* CSS RESET */
*{
    margin: 0;
    padding: 0;
}
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    overflow-x: hidden;
}
img {
    max-width: 100%;
    display: block;
}
input,
button,
textarea,
select {
  font: inherit;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
    cursor: pointer;
}



/* FONTS */
@font-face {
    font-family: 'header';
    src: url(fonts/BenguiatGothicC_Bold.ttf)
}/*the font for headers*/
@font-face {
    font-family: 'regular';
    src: url(fonts/BenguiatGothicC.ttf);
}/*the font for other components*/



/* MENU */
.menu{
    width: 100%;
    height: 80px;
    background: #2a6561;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}
h1{
    color: #fff;
    font-family: 'header';
    font-size: 32px;
}
.navigation{
    width: calc(100% - 30px);
    height: 35px;
    background: #204d4a;
    display: flex;
    padding-left: 30px;
    align-items: center;
    gap: 30px;
    user-select: none;
}
.navigation_link{
    color: #fff;
    font-family: 'regular';
    font-weight: 600;
    letter-spacing: 1.5px;
}
.activelink{
    color: rgb(85, 151, 218);
}
.coatofarms_school, .coatofarms_region{
    width: 70px;
    height: 70px;
    position: absolute;
}
.coatofarms_school{
    left: 20px;
    top: 5px;
}
.coatofarms_region{
    right: 20px;
    top: 5px;
}
.account_container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    position: absolute;
    right: 0;
    padding-right: 10px;
    padding-left: 10px;
    color: #fff;
    font-family: 'regular';
    font-weight: 600;
    letter-spacing: 1.5px;
}
.account_username{
    height: 25px;
    font-size: 20px;
    user-select: none;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 3px;
    border-radius: 10px;
}
.account_username:hover{
    text-decoration: underline;
}
.account_pic{
    width: 28px;
    height: 28px;
}
.logout{
    margin-left: -8px;
    opacity: 0.7;
    cursor: pointer;
}
.logout:hover{
    opacity: 1;
}


/* THE SECTION WITH BASIC INFO ABOUT LYCEUM */
.about{
    padding: 35px;
    font-family: 'regular';
    font-weight: bold;
    letter-spacing: 1.5px;
    font-size: 20px;
}
.about_text{
    width: 100%;
    height: 100%;
}
.text_bold{
    font-family: 'header';
    font-weight: 900;
}
.text_underlined{
    text-decoration: underline;
}
.text_header{
    font-family: 'header';
    font-weight: 900;
    font-size: 24px;
    text-decoration: underline;
}
.about_short{
    width: 350px;
    border: 1px solid;
    padding: 5px;
    font-family: 'regular';
    font-weight: bold;
    letter-spacing: 1.5px;
    font-size: 14px;
    float: right;
    margin-left: 15px;
    user-select: none;
}
.about_short thead{
    display: block;
}
.about_short tr{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about_short th{
    width: 100%;
    height: 30px;
    background: #333333;
    color: #fff;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about_short span{
    /* width: 45%; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.about_text_short_withimage img{
    position: relative;
    z-index: 0;
}
.about_text_short_withimage_description{
    width: 60%;
    font-size: 12px;
    color: #333333;
    background-color: #fff;
    opacity: 0.85;
    border-radius: 10px;
    position: relative;
    z-index: 1;
    margin: auto;
    margin-top: -20px;
}
.about_short_2obj{
    margin-top: 10px;
}
.about_short_2obj td{
    width: 50%;
    display: flex;
    gap: 10px;
    padding-left: 5px;
}
.about_short_2obj img{
    height: 18px;
}


.logpass_container{
    width: 500px;
    height: 300px;
    display: block;
    position: fixed;
    border: 1px solid #d5d5d5;
    background: #fff;
    border-radius: 30px;
    top: calc((100% - 300px) / 2);
    left: calc((100% - 500px) / 2);
    font-family: 'regular';
    font-weight: bold;
    letter-spacing: 1.5px;
    font-size: 16px;
}
.logpass_exit{
    width: 25px;
    height: 25px;
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 5px;
}
.logpass_exit:hover{
    background: #c5c5c5;
    border-radius: 50%;
}
.logpass_input{
    width: 80%;
    height: 20px;
    margin-left: 7%;
    padding: 10px;
    border: 2.5px solid #e6e6e6;
    border-radius: 20px;
    letter-spacing: 1.5px;
    background: #fff;
}
.logpass_input:hover{
    background: #eeeeee;
}
.logpass_login{
    margin-top: 15px;
}
.logpass_password{
    width: calc(80% - 40px);
    padding-right: 50px;
    margin-top: 20px;
}
.logpass_confirm{
    width: 60%;
    height: 50px;
    background: #1877f2;;
    margin-left: 20%;
    margin-top: 30px;
    letter-spacing: 1.5px;
    cursor: pointer;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 20px;
    user-select: none;
}
.logpass_confirm:hover{
    background: #1362c9;
}
.logpass_confirm_reg{
    background: #42b72a;
}
.logpass_confirm_reg:hover{
    background: #39a025
}
.logpass_select{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    user-select: none;
}
.logpass_select_button{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    width: 250px;
    height: 33px;
    margin: 0;
    vertical-align: top;
    background: #1877f2;
    border: 1px solid #bbc1e1;
    border-radius: 30px;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 3px;
}
.logpass_select_button:hover{
    background: #1362c9;
    transition: none;
}
.logpass_select_button::after {
    content: "Увійти";
    width: 80px;
    height: 20px;
    border: 3px solid #fff;
    border-radius: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #fff;
    font-weight: 700;
    transition: all 0.5s linear;
    letter-spacing: 1.5px;
    margin-left: 1px;
}
.logpass_select_button:checked::after {
    animation: toggle-button-checked 0.5s linear;
    width: 150px;
    transform: translateX(calc(53% + 4px));
    border: 3px solid #fff;
    content: "Зареєструватися";
    
    transition: 0.5s linear;
    letter-spacing: 1.5px;
}
.logpass_select_button:checked {
    background-color: #42b72a;
}
.logpass_select_button:checked:hover{
    background: #39a025;
    transition: none;
}

#visiblehidden{
    width: 25px;
    height: 25px;
    position: absolute;
    top: 161px;
    right: 10.5%;
    padding: 3px;
    cursor: pointer;
    border-radius: 50%;
}
#visiblehidden:hover{
    background: #e0e0e0;
}
@keyframes toggle-button-checked{
    0%{
        content: "еєструват"; 
    }
    50%{
        content: "реєструвати";
    }
    75%{
        content: "ареєструватис";
    }
    100%{
        content: "Зареєструватися";
    }
}

/* FOOTER */
.footer{
    width: 100%;
    height: 485px;
    background: #2a6561;
    display: flex;
    color: #fff;
    font-family: 'regular';
    font-weight: bold;
    letter-spacing: 1.5px;
}
.footer_logo{
    width: 85px;
    height: 85px;
    margin-top: 125px;
    margin-left: 185px;
    user-select: none;
}
.footer_center{
    width: 310px;
    height: calc(100% -120px);
    margin-left: 70px;
    margin-top: 120px;
}
.footer_center_adress{
    width: 310px;
    font-size: 24px;
}
.footer_center_number{
    font-size: 14px;
    margin-top: 90px;
}
.footer_center_email{
    font-size: 14px;
    margin-top: 25px;
}
.footer_right{
    width: 485px;
    height: calc(100% - 200px);
    margin-top: 130px;
    margin-left: 145px;
    display: flex;
    gap: 80px;
    position: relative;
}
.footer_right_linksbox{
    list-style: none;
    font-family: 'regular';
    font-weight: bold;
    letter-spacing: 1.5px;
    font-size: 12px;
}
.footer_right_linksbox li{
    margin-bottom: 10px;
}
.footer_right_linksbox_link{
    color: #fff;
    margin-top: 10px;
}
.footer_right_rights{
    width: 120%;
    position: absolute;
    left: -10%;
    bottom: 0;
    font-size: 12px;
}
.footer_right_rights{
    font-weight: normal;
    text-align: center;
}



.news{
    min-height: 800px;
    font-family: 'regular';
    font-weight: bold;
    letter-spacing: 1.5px;
    font-size: 16px;
}










.none{
    display: none;
}